# Use localhost URL
BETTER_AUTH_URL="http://localhost:3000"

# Auth Secret
BETTER_AUTH_SECRET=better_auth_secret

# Email
AUTH_RESEND_KEY=auth_resend_key

# Public Google Keys
NEXT_PUBLIC_GOOGLE_API_KEY=next_public_google_api_key
NEXT_PUBLIC_OPENROUTESERVICE_API_KEY=next_public_openrouteservice_api_key

# Google
AUTH_GOOGLE_ID=auth_google_id
AUTH_GOOGLE_SECRET=auth_google_secret

# Github
AUTH_GITHUB_ID=auth_github_id
AUTH_GITHUB_SECRET=auth_github_secret

# Discord
AUTH_DISCORD_ID=auth_discord_id
AUTH_DISCORD_SECRET=auth_discord_secret

# MyMLH
AUTH_MYMLH_ID=auth_mymlh_id
AUTH_MYMLH_SECRET=auth_mymlh_secret

# Used by Prisma CLI
DIRECT_URL="postgres://hackku:hackku@localhost:5432/hackku_dev"

# Used by application code
DATABASE_URL="postgres://hackku:hackku@db.localtest.me:4444/hackku_dev"

# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN="blob_read_write_token"